{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["react-app", "prettier", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "settings": {
      "react": {
        "version": "^16.8.2"
      }
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "prettier-check": "warn",
        "consistent-return": "error",
        "dot-notation": "warn",
        "no-useless-concat": "error",
        "radix": "error",
        "no-shadow": "warn",
        "no-duplicate-imports": "error",
        "no-useless-constructor": "error",
        "no-var": "error",
        "prefer-const": "error",
        "prefer-template": "error",
        "react/default-props-match-prop-types": "warn",
        "react/no-access-state-in-setstate": "warn",
        "react/no-array-index-key": "warn",
        "react/jsx-handler-names": "warn"
    }
}