# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
math_ui/node_modules
math_ui/.pnp
math_ui/.pnp.js

# testing
math_ui/coverage

# production
math_ui/build

# misc
math_ui/.DS_Store
math_ui/.env.local
math_ui/.env.development.local
math_ui/.env.test.local
math_ui/.env.production.local

math_ui/npm-debug.log*
math_ui/yarn-debug.log*
math_ui/yarn-error.log*

.vscode
deploy_key
